*{
    margin:0 ;
}
div {
    background-color: blueviolet;
    height: 500px;
    width: 600px;
    margin: 15px;

}
/* span{
    background-color: orange;
} */
span{
    display: inline-block;
    background-color: orchid;
    height: 50px;
}